
 
* {
	margin: 0;
	padding: 0;
}
 

h1{
    color:rgb(25, 103, 16) ;

}
html{
    background-color: rgb(196, 222, 170);
}

button{
    color: rgb(9, 17, 1);
    background-color: rgb(25, 103, 16);
}



form{

color: rgb(21, 40, 14);

}